#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameInfo{
    max-width: 300px;
    vertical-align: top;
    text-align: center;
    padding: 30px;
}

#gameInfo > input{
    padding: 2px;
    font-size: 14px;
}

#playerOne, #playerTwo{
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
}

td:empty{
    cursor: grab;
}

#row1, #row2 {
    border-bottom: 2px solid;
}

#cell0, #cell1, #cell3, #cell4, #cell6, #cell7 {
    border-right: 2px solid;
}